/*
 * Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum sapiente
 * necessitatibus suscipit aliquid consequatur recusandae, magnam dolore non
 * qui quo voluptatem autem, culpa, quidem nam alias? Repellendus non
 * obcaecati ullam.
 */
.foo {
  background: blue;
}
