scripts
node_modules
packages/*/node_modules/**/*.js
packages/*/tools*/**/*.js
packages/*/test*/**/*.js
packages/*/dist/**/*.js
packages/*/dist/**/*.js
packages/*/public/jspm_packages/**/*.js
packages/*/public/config.js
vendor