// stylelint-disable

html {
  font: 16px/1.45em 'Helvetica';
}


a, button, input {
  appearance: none;
  background: transparent;
  border-radius: 6px;
  border: 0;
  box-shadow: none;
  color: inherit;
  display: block;
  font-size: 1em;
  line-height: 1em;
  outline: none;
  padding: 0;
}

/// @name Buttons
/// @page components/buttons
/// @description Your standard form button.
///
/// @markup {html}
/// <div class="c-btn-group">
///   <a href="#" class="c-btn ${@state}">Button (a)</a>
///   <button class="c-btn ${@state}">Button (button)</button>
///   <input class="c-btn ${@state}" type="button" value="Button (input)">
/// </div>
.c-btn {
  background: #7e7e7c;
  border: none;
  border-radius: 6px;
  color: #fff;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em;
  padding: 0.9286em 1.5em;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background 0.25s ease-out, color 0.25s ease-out;
  transition: background 0.25s ease-out, color 0.25s ease-out;
  vertical-align: middle;
  width: auto;

  &:hover, &:active, &:focus {
    color: #fff;
    text-decoration: none;
  }

  ///# @state {:hover}
  ///# @state {:active}
  ///# @state {:disabled} - Dims the button when disabled.
  &:hover {
    background: #979796;
  }

  &:active, &:focus {
    background: #646463;
  }

  &:disabled {
    opacity: 0.5;
  }

  ///# @state {c-btn--mini} - A mini button
  &--mini {
    font-size: 0.8rem;
    padding: 0.6em 0.8em;
  }

  ///# @state {c-btn--tiny} - A tiny button
  &--tiny {
    font-size: 0.875rem;
    padding: 0.6em 0.8em;
  }

  ///# @state {c-btn--small} - A tiny button
  ///# @state {c-btn--medium} - A medium button
  ///# @state {c-btn--large} - A large button
  ///# @state {c-btn--big} - A big button
  ///# @state {c-btn--huge} - A huge button
  ///# @state {c-btn--massive} - A massive button
  &--small { font-size: 0.875rem; }
  &--medium { font-size: 1rem; }
  &--large { font-size: 1.125rem; }
  &--big { font-size: 1.25rem; }
  &--huge { font-size: 1.375rem; }
  &--massive { font-size: 1.5rem; }

  ///# @state {c-btn--primary} - Primary action
  ///# @state {c-btn--primary:hover}
  ///# @state {c-btn--primary:active}
  &--primary {
    background: #ec6c21;

    &:hover {
      background: #f08b50;
    }

    &:active, &:focus {
      background: #c95511;
    }

    .c-badge {
      color: #ec6c21;
    }
  }



  ///# @state {c-btn--secondary} - Secondary action
  ///# @state {c-btn--secondary:hover}
  ///# @state {c-btn--secondary:active}
  &--secondary {
    background: #0c7dac;

    &:hover {
      background: #0fa0dc;
    }

    &:active, &:focus {
      background: #095a7c;
    }

    .c-badge {
      color: #0c7dac;
    }
  }


  ///# @state {c-btn--tertiary} - Tertiary action
  ///# @state {c-btn--tertiary:hover}
  ///# @state {c-btn--tertiary:active}
  &--tertiary {
    background: #d7d7d6;

    &, &:hover, &:active, &:focus {
      color: #575756;
    }

    &:hover {
      background: #bdbdbc;
    }

    &:active, &:focus {
      background: #a4a4a3;
    }

    & .c-badge {
      color: #7e7e7c;
    }
  }

  @at-root %no-background {
    background: none;
  }

  ///# @state {c-btn--text} - It's a text link as a button
  ///# @state {c-btn--text:hover}
  ///# @state {c-btn--text:active}
  &--text {
    color: #0c7dac;

    &, &:hover, &:active, &:focus {
      @extend %no-background;
    }

    &:hover {
      @extend %no-background;
      color: #0fa0dc;
    }

    &:active, &:focus {
      @extend %no-background;
      color: #095a7c;
    }

    .c-badge {
      color: #0c7dac;
    }
  }


  ///# @state {c-btn--danger} - a danger button
  ///# @state {c-btn--danger:hover}
  ///# @state {c-btn--danger:active}
  &--danger {
    color: #a94442;

    &, &:hover, &:active, &:focus {
      @extend %no-background;
    }

    &:hover {
      color: #c0605e;
    }

    &:active, &:focus {
      color: #843534;
    }

    .c-badge {
      background: #a94442;
      color: #fff;
    }
  }


  .c-badge {
    background: #fff;
  }

  &-group > * {
    margin-top: 0;
  }

  &-group > * + * {
    margin-left: 0.4286em;
  }
}

/// @page states/multiple
/// @state
/// {something-super-awesome--modifier} Modifier state for example 1, state 1
/// {:hover} Hover state for example 1, state 1
///
/// @state
/// {something-super-awesome--modifier} Modifier state for example 1, state 2
/// {:focus} Focus state for example 1, state 2
///
/// @state
/// {something-super-awesome--modifier} Modifier state for example 1, state 3
/// {:active} Active state for example 1, state 3
///
/// @markup {html} Example 1
/// <div class="something-super-awesome ${@state[0]}">
///   <h3>${@state[0].description}</h3>
///   <ul>
///     <li class="something-super-awesome__item ${@state[1].state}">${@state[1].description}</li>
///   </ul>
/// </div>
